.mortgage-general__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 205px;
    height: 47px;
    margin-top: 32px;
    background: #FFF32B;
    border-radius: 6px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #222222;
    &:hover {
        background: #f6e800;
        color: #333;
    }
    &_green {
        width: 252px;
        border: 1px solid #50B848;
        box-sizing: border-box;
        border-radius: 4px;
        background: none;
        color: #50b848;
        &:hover {
            color: #409439;
            border: 1px solid#409439;
            background: none;
        }
    }
    &_in-wrapper {
        margin-top: 0;
        margin-right: 24px;
        &:last-child {
            margin-right: 0;
        }
    }
    &_condition {
        margin-top: 0;
        margin-right: 29px;
    }
    &:last-child {
        margin-right: 0;
    }
}