.smallBusiness__title_private {
    margin-bottom: 48px;
    margin-top: 0;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

.smallBusiness__banner_private {
    background: linear-gradient(90deg, #F5F5F5 0%, #EDEDED 40%, rgba(234, 234, 234, 0) 65%), url('../img/banners/mortgage-1.jpg') 100% no-repeat;
    &:hover {
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
    }
    transition: all 0.8s;
}

.smallBusiness-card_private {
    &:hover {
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.24);
    }
    &:first-child {
        background: url('../img/banners/credit-2.png') 100% 0% no-repeat;  
        background-color: #AB6C76;
    }
    &:nth-child(2) {
        background: linear-gradient(0, rgba(255, 255, 255, 0.8) 0, rgba(255, 255, 255, 0) 50%), url('../img/banners/carLoan-3.jpg');
    }
}

.smallBusiness-card {
    &_change-size {
        font-size: 28px;
        line-height: 32px;
        color: #333333;
        font-weight: 600;
        min-height: 0;
        margin-bottom: 20px;
    }
    &__item-strong-text {
        font-weight: 700;
    }
    &__list_without-before {
        li {
            padding-left: 35px;
            font-size: 16px;
            line-height: 37px;
        }
        li::before {
            display: none;
        }
    }
    &__info {
        line-height: 19px;
    }
    &__icon {
        position: absolute;
        left: 0;
        top: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }
    &__list_currency-deposits {
        .smallBusiness-card__icon {
            top: 0;
        }
        .smallBusiness-card__item {
            margin-bottom: 14px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        li {
            line-height: 25px;
        } 
    }  
    &_big-banner {
        padding: 22px 48px 22px 48px;
    }
}


.banners {
    &__item {
        /* &-title {
            font-size: 30px;
            line-height: 40px;
            letter-spacing: 0.5px;
            color: #FFFFFF;
            width: 330px;
            span {
                font-size: 36px;
                line-height: 40px;
                font-family: 'Montserrat';
            }
        } */
        &-subtitle {
            font-weight: bold;
            color: #50B848;
            margin: 0;
            margin-top: 0;
            width: 338px;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.5px;
            margin-bottom: 7px;
            &_white {
                color: #FFFFFF;
                width: 287px;
                font-weight: normal;
                margin-bottom: 0;
            }
        }
    }
}

.white-color {
    color: #FFFFFF;
    &_hover {
        &:hover {
            color: #FFFFFF;
        }
    }
}

.special-offers {
    margin-top: 64px;
    &__title {
        font-family: 'Montserrat', 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        letter-spacing: 0.5px;
        color: #50B848;
        margin-bottom: 48px;
    }
    &__cards-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__card {   
        width: 315px;
        height: 378px;
        border-radius: 6px;
        transition: all 0.8s;
        padding: 24px 23px 15px 23px;
        &:hover {
            box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
        }
        &-title {
            font-family: 'Montserrat', 'Roboto', sans-serif;
            display: block;
            font-weight: 600;
            font-size: 28px;
            line-height: 32px;
            color: #333333;
            margin-bottom: 11px;
            border: none;
        }
        &-subtitle {
            font-size: 22px;
            line-height: 24px;
            font-weight: 500;
            letter-spacing: 0.5px;
            color: #6BDE62;
            text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
            margin-bottom: 19px;
        }
        &-text {
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.5px;
            color: #333333;
        }
    }
    #world-of-discounds {
        background: linear-gradient(145.22deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 100%), url('../img/special-offers/world-of-discounds-1.png') center center no-repeat;
        .special-offers {
            &__card {
                &-title {
                    display: block;
                    font-weight: bold;
                    line-height: 34px;
                    color: #FFFFFF;
                    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
                    margin-bottom: 21px;
                    width: 220px;
                    &:hover {
                        color: #50b848;
                    }
                }
                &-subtitle {
                    width: 215px;
                }
                &-text {
                    color: #FFFFFF;
                    font-size: 18px;
                    line-height: 20px;
                    font-weight: 500;
                }
            }
        }
    }
    #grow-big {
        background:url('../img/special-offers/grow-big-2.svg') center center no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .special-offers {
            &__card {
                &-title {
                    width: 214px;
                    font-weight: 600;
                    font-size: 23px;
                    line-height: 26px;
                    margin-bottom: 0;
                }
                &-text {
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 15px;
                    width: 200px;   
                }
            }
        }
    }
    #realization-of-pledged-property {
        background:linear-gradient(147.28deg, rgba(255, 255, 255, 0.7) -0.75%, rgba(255, 255, 255, 0) 84.26%), url('../img/special-offers/realization-of-pledged-property-3.png') center center no-repeat;
    }
}

.load-statistics {
    margin-top: 104px;
    &__title {
        font-family: 'Montserrat', 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.5px;
        color: #000000;
    }   
    &__content {
        margin-top: 26px;
        position: relative;
        min-height: 457px;
        img {
            display: block;
            position: absolute;
            left: -50px;
        }
    }
}

#padding-banner-big {
    padding: 22px 48px 22px 48px;
}

.more-info-link {
    font-size: 14px;
    line-height: 16px;
    &_horizontal {
        margin-top: 0;
    }
}

.card-item-text {
    letter-spacing: 0.5px;
}

.banner-strong-text {
    font-size: 36px; 
    line-height: 40px;
    &__big-banner {
        font-size: 48px;
    }
}

.mortgage-item {
    font-size: 18px;
    line-height: 34px;
    &:not(:last-child) {
        margin-bottom: 0;
    }
    &::before {
        top: 12px;
    }
}

.smallBusiness-card__title_max-width-230px {
    max-width: 230px;
}