.mortgage-general-header {
    padding-top: 53px;
    padding-bottom: 58px;
    margin-top: 29px;
    background: url(../img/mortgage-intro-bg.png) 100% 50% no-repeat, #EDFAF7;
    &__wrapper {
        max-width: 1004px;
        padding: 0 10px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    &__title {
        margin: 0;
        padding: 0;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 46px;
        line-height: 52px;
        color: #222222;
    }
    &__subtitle {
        margin: 0;
        padding: 0;
        margin-top: 13px;
        font-family: Roboto;
        font-weight: 300;
        font-size: 22px;
        line-height: 27px;
        color: #222222;
    }
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 21px;
    }
    &__list-item {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #333333;
        padding-left: 35px;
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 17px;
            height: 14px;
            background: url(../icons/check-mark.svg) center center/cover no-repeat;
            left: 0;
            top: 8px;
        }
    }
    &__btn-wrapper {
        display: flex;
        margin-top: 32px;
    }
}

//mortgage-programs
.mortgage-programs {
    margin-top: 127px;
    &__title {
        font-family: Montserrat;
        font-weight: bold;
        font-size: 34px;
        line-height: 41px;
        color: #333333;
    }
    &__wrapper {
        margin-top: 56px;
    }
}
//mortgage-item
.mortgage-item {
    display: flex;
    margin-bottom: 59px;
    &__img {
        margin-right: 41px;
        width: 252px;
        border-radius: 6px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
        }
    }
    &__title {
        font-family: Montserrat;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        color: #222222;
    }
    &__subtitle {
        font-family: Roboto;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        margin-top: 16px;
    }
    &__conditions {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 35px;
    }
    &__condition-name {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
    }
    &__condition-description {
        font-family: Roboto;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        color: #50B848;
    }
    &__links {
        display: flex;
        margin-top: 32px;
        align-items: center;
    }
    &__more-details {
        transition: all 0.3s;
        font-family: Roboto;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        border-bottom: 1px solid #e0e0e0;
        padding-right: 20px;
        position: relative;
        svg {
            transition: all 0.3s;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 4px;
        }
        &:hover {
            color: #50b848;
            svg {
                fill: #50b848;
                right: 0;
            }
        }
    }
}
