.mortgage-header {
    margin-top: 29px;
    background: none;
    display: flex;
    justify-content: space-between;
    &__item {
        display: flex;
        flex-direction: column;
        &:first-child {
            width: 560px;
        }
        &:nth-child(2) {
            width: 369px;
            height: 240px;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    &__title {
        font-family: 'Montserrat', 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 46px;
        line-height: 52px;
        color: #222222;
        margin: 0;
        margin-bottom: 15px;
        max-width: none;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #222222;
        margin-bottom: 35px;
    }
    &__btn {
        margin: 0!important;
        width: 205px;
        height: 47px;
        border-radius: 6px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #222222;
    }
}

.loan-conditions {
    margin-top: 100px;
    &__title {
        font-family: 'Montserrat', 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 52px;
        color: #222222;
        margin: 0;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 55px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
        &:first-child {
            margin-top: 0;
        }
    }
    &__item {
        width: 196px;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #222222;
    }
    &__item-description {
        width: 718px;
        font-weight: normal;
        font-size: 16px;
        /* line-height: 22px; */
        color: #222222;
        line-height: 18px;
    }
    &_green-text {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: #50B848;
    }
    &_inclusive {
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #222222;
    }
    &_location-text {
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: #222222;
    }
    &__additional-info {
        margin-top: 64px;
        max-width: 931px;
    }
    &__additional-text {
        margin: 0;
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        &:first-child {
            margin-top: 0;
        }
    }
}

.mortgage-refinancing {
    margin-top: 108px;
    &__title {
        font-family: 'Montserrat', 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 32px;
        line-height: 52px;
        color: #222222;
    }
    &__subtitle {
        margin-top: 25px;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        color: #222222;
    }
    &__conditions {
        max-width: 929px;
        margin-top: 40px;
        &-title {
            font-family: 'Montserrat', 'Roboto', sans-serif;
            font-weight: bold;
            font-size: 22px;
            line-height: 20px;
            color: #222222;
        }
        &-text {
            margin: 0;
            margin-top: 23px;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            &:first-child {
                margin-top: 0;
            }
        }
    }
}